* {
    font-size: 1.4vw;
    font-family: 'Audiowide', Pixel, Arial, Helvetica, sans-serif;
}

.high-scores {
    position: absolute;
    top: 15%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 3.2vw;
    color: red;
    animation: animate 1.5s linear infinite;
    margin-bottom: 1.5rem;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

.final-score-line {
    font-size: 2.6vw;
    color: blue;
}

.new-record-line {
    font-size: 2em;
    color: white;
}

h3 {
    font-size: 2.6vw;
    color: yellow;
}

table {
    /* margin-top: 1.5em; */
    color: white;
    font-size: 1.2em;
}

td {
    padding: 0.4em;
    border-bottom: 1px solid white;
}