.high-scores {
    font-size: 1.4vw;
    font-family: 'Audiowide', Pixel, Arial, Helvetica, sans-serif;
    position: relative;
    right: 33.5%;
    bottom: -150%;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 3.2vw;
    color: red;
    animation: animate 1.5s linear infinite;
    margin-bottom: 1.5rem;
}

/*Animation for "Game Over" line: */
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

.final-score-line {
    font-size: 2.4vw;
    color: blue;
}

.new-record-line {
    font-size: 1.6vw;
    color: white;
}

h3 {
    font-size: 2.6vw;
    color: yellow;
}

table {
    color: white;
    font-size: 1.2em;
}

td {
    padding: 0.4em;
    border-bottom: 1px solid white;
}